---
layout: default
---

<div class="home">

  {{ content }}

<h2>I'm at WAIS 2021</h2>
<p>
I'm looking forward to talking about pitfalls of continuum damage mechanics in large-scale ice shelf simulations. My recorded talk below:
</p>
<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/0_x1JDaeRtk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h2>I'm at AGU 2020</h2>
<p>
I'll be discussing 'GC068-0004: Data and Simulacra, toward a framework for inclusive coproduction' on Friday, 11 Dec. 
</p>
<p>
And check out my talk for session C067: Modeling of the Cryosphere: Glaciers and Ice Sheets, which I'll be available to answer questions on on 16 Dec from 20:30-21:30 PST (not my first choice of time)
</p>
<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/29MdsWiSYbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
  
  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.type == 'main' %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  

</div>
